<template>
  <q-page padding>
    <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
      <!--      <q-input-->
      <!--        filled-->
      <!--        v-model="lastName"-->
      <!--        label="Ваша фамилия"-->
      <!--        hint="Фамилия должна содержать только буквы"-->
      <!--        pattern="^[а-яА-Я]+$|^[a-zA-Z]+$"-->
      <!--        lazy-rules-->
      <!--        :rules="[-->
      <!--              val => val && val.length > 0 || 'Введите ваше имя',-->
      <!--              val => val.length >= 3 || 'Фамилия должна содержать как минимум 3 буквы',-->
      <!--              val => val.length <= 20 || 'Фамилия должна содержать не больше 20 букв',-->
      <!--            ]"-->
      <!--      />-->

      <!--      <q-input-->
      <!--        filled-->
      <!--        v-model="firstName"-->
      <!--        label="Ваше имя"-->
      <!--        hint="Имя должно содержать только буквы"-->
      <!--        pattern="^[а-яА-Я]+$|^[a-zA-Z]+$"-->
      <!--        lazy-rules-->
      <!--        :rules="[-->
      <!--              val => val && val.length > 0 || 'Введите ваше имя',-->
      <!--              val => val.length >= 2 || 'Имя должно содержать как минимум 2 буквы',-->
      <!--              val => val.length <= 20 || 'Имя должно содержать не больше 20 букв',-->
      <!--            ]"-->
      <!--      />-->

      <q-input
        filled
        type="email"
        v-model="email"
        label="email"
        lazy-rules
        :rules="[(val) => (val && val.length > 0) || 'Введите ваш email']"
      />

      <q-input
        label="Пароль"
        hint="Пароль должен содержать от 6 до 24 символов. Должна быть одна заглавная буква и одна цифра"
        :type="isPwd ? 'password' : 'text'"
        v-model="password"
        pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,24}$"
        filled
        :rules="[(val) => (val && val.length > 0) || 'Введите пароль']"
      >
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>

      <q-input
        label="Подтвердите пароль"
        :type="isPwdRepeat ? 'password' : 'text'"
        v-model="repeatPassword"
        filled
        :rules="[(val) => (val && val.length > 0) || 'Введите пароль']"
      >
        <template v-slot:append>
          <q-icon
            :name="isPwdRepeat ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwdRepeat = !isPwdRepeat"
          />
        </template>
      </q-input>
      <q-btn
        label="Зарегистрироваться"
        no-caps
        @click="onSignUp({ mail: email, password: password })"
      />
    </q-form>
  </q-page>
</template>

<script>
import { ref } from "vue";
import { useStore } from "vuex";

export default {
  name: "SignUp",
  setup() {
    const store = useStore();
    const email = ref("");
    const password = ref("");
    const repeatPassword = ref("");
    const firstName = ref("");
    const lastName = ref("");

    const isPwd = ref(true);
    const isPwdRepeat = ref(true);

    const comparePassword = (password, repeatPassword) => {
      return password === repeatPassword;
    };

    const onSignUp = async (user) => {
      if (!user.mail || !user.password) {
        return false;
      }
      if (!comparePassword(password.value, repeatPassword.value)) {
        return false;
      }
      try {
        await store.dispatch("auth/signUpUser", user);
      } catch (e) {
        throw new Error(e);
      }
    };

    return {
      email,
      password,
      isPwd,
      isPwdRepeat,
      repeatPassword,
      firstName,
      lastName,
      onSignUp,
    };
  },
};
</script>
