<template>
  <q-page padding>
    <q-form class="q-gutter-md">
      <q-input
        filled
        v-model="email"
        label="Email"
        lazy-rules
        :rules="[(val) => (val && val.length > 0) || 'Введите что-нибудь']"
        :model-value="email"
      />

      <q-input
        label="Пароль"
        hint="Пароль должен содержать от 6 до 24 символов. Должна быть одна заглавная буква и одна цифра"
        :type="isPwd ? 'password' : 'text'"
        v-model="password"
        patсвtern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,24}$"
        filled
        lazy-rules
        :rules="[(val) => (val && val.length > 0) || 'Введите пароль']"
        :model-value="password"
      >
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
      <q-btn
        color="white"
        text-color="black"
        label="Войти"
        @click="onSignIn({ email: email, password: password })"
      />
    </q-form>
  </q-page>
</template>

<script>
import { ref } from "vue";
import { useRouter } from "vue-router"
import { useStore } from "vuex";
import {Notify} from "quasar";
export default {
  name: "SignIn",
  setup() {
    const store = useStore();
    const router = useRouter()

    const password = ref("");
    const email = ref("");
    const isPwd = ref(true);

    const onSignIn = async (user) => {
      if (!user.password || !user.email) {
        Notify.create({
          message: 'Ошибка авторизации',
          type: 'negative',
          timeout: 1500
        })
        return false;
      }
      const tokens = await store.dispatch("auth/signInUser", user);
      if (!tokens) {
        Notify.create({
          message: 'Ошибка авторизации',
          type: 'negative',
          timeout: 1500
        })
        return
      }
      await router.push({ name: 'admin' })
    };

    return {
      password,
      email,
      isPwd,
      onSignIn,
    };
  },
};
</script>
