<template>
  <q-page padding>
    <h3 class="q-mb-md"> {{ $route.meta.title }} </h3>
    <div>
      <q-table :rows="orders" :columns="columns" row-key="name"
        ><template v-slot:body-cell-action="props">
          <q-td :props="props">
            <div>
              <q-btn
                flat
                no-caps
                icon="delete"
                round
                @click="deleteOrder(props.row.id)"
              />
            </div>
          </q-td> </template
      ></q-table>
    </div>
  </q-page>
</template>

<script>
import { ref, onBeforeMount } from "vue";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
export default {
  name: "TableOrders",
  setup() {
    const store = useStore();
    const orders = ref([]);
    const $q = useQuasar();

    onBeforeMount(() => {
      store.dispatch("order/getOrders").then((data) => (orders.value = data));
    });

    const deleteOrder = async (id) => {
      await store.dispatch("order/deleteOrder", id);
      await store
        .dispatch("order/getOrders")
        .then((data) => (orders.value = data));
      $q.notify({
        message: "Заказ удален",
        textColor: "black",
        color: "white",
      });
    };

    const columns = [
      { name: "id", label: "id", field: "id" },
      { name: "name", label: "Имя", field: "name" },
      { name: "phone", label: "Мобильный номер", field: "phone" },
      { name: "email", label: "Почта", field: "email" },
      { name: "note", label: "Заметка", field: "note" },
      { name: "action", label: "Действия", field: "action" },
    ];
    return {
      columns,
      orders,
      deleteOrder,
    };
  },
};
</script>
