<template>
  <q-page padding>
    <q-tabs v-model="tab" class="text-blue">
      <q-tab name="main" label="Главная" />
      <q-tab name="contacts" label="Контакты" />
      <q-tab name="about" label="О нас" />
      <q-tab name="studio" label="Студия" />
      <q-tab name="feedback" label="Отзывы" />
      <q-tab name="blog" label="Блог" />
      <q-tab name="projects" label="Проекты" />
    </q-tabs>

    <q-tab-panels
      v-model="tab"
      animated
      swipeable
      vertical
      transition-prev="jump-up"
      transition-next="jump-up"
    >
      <q-tab-panel q-tab-panel name="main">
        <MetaForm
          :page="meta.main"
          :key="meta.main"
          @updatedPage="updateMainMetas"
        />
      </q-tab-panel>
      <q-tab-panel q-tab-panel name="contacts">
        <MetaForm
          :page="meta.contacts"
          :key="meta.contacts"
          @updatedPage="updateMainMetas"
        />
      </q-tab-panel>
      <q-tab-panel q-tab-panel name="about">
        <MetaForm
          :page="meta.about"
          :key="meta.about"
          @updatedPage="updateMainMetas"
        />
      </q-tab-panel>
      <q-tab-panel q-tab-panel name="studio">
        <MetaForm
          :page="meta.studio"
          :key="meta.studio"
          @updatedPage="updateMainMetas"
        />
      </q-tab-panel>
      <q-tab-panel q-tab-panel name="feedback">
        <MetaForm
          :page="meta.feedback"
          :key="meta.feedback"
          @updatedPage="updateMainMetas"
        />
      </q-tab-panel>
      <q-tab-panel q-tab-panel name="blog">
        <MetaForm
          :page="meta.blog"
          :key="meta.blog"
          @updatedPage="updateMainMetas"
        />
      </q-tab-panel>
      <q-tab-panel q-tab-panel name="projects">
        <MetaForm
          :page="meta.projects"
          :key="meta.projects"
          @updatedPage="updateMainMetas"
        />
      </q-tab-panel>
    </q-tab-panels>
    <q-btn
      class="full-width"
      label="Сохранить и отправить мету"
      @click="onUpdateMeta"
    />
  </q-page>
</template>

<script>
import { useStore } from "vuex";
import { onBeforeMount, ref, computed } from "vue";
import MetaForm from "src/components/PagesMeta/MetaForm.vue";
import { Notify } from "quasar";
export default {
  components: { MetaForm },
  name: "PagesMeta",

  setup() {
    const store = useStore();
    const tab = ref("main");

    onBeforeMount(async () => {
      return await store.dispatch("pages/fetchMeta");
    });

    const meta = computed(() => store.getters["pages/getMeta"]);

    //тут тоже устал...
    const updateMainMetas = (updatedPage) => {
      meta.value[tab.value] = updatedPage;
    };

    const onUpdateMeta = async () => {
      await store.dispatch("pages/updateMeta", meta.value);
      Notify.create("Мета страниц обновлена");
    };
    return {
      updateMainMetas,
      onUpdateMeta,
      tab,
      meta,
    };
  },
};
</script>
