<template>
  <q-page padding>
    <h3>Записи в блоге</h3>

  </q-page>
</template>

<script>
import { computed, onBeforeMount } from "vue";
import { useStore } from "vuex";

export default {
  name: "Blogs",
  setup() {
    const store = useStore();

    onBeforeMount(async () => {
      return await store.dispatch("blogs/fetchBlogs");
    });

    return {
      rows: computed(() => store.state.blogs.rows),
      columns: computed(() => store.state.blogs.columns),
    };
  },
};
</script>
