<template>
  <q-page class="text-secondary">
    <div class="about">
      <div class="about__title">О нас</div>
      <div
        v-if="about.aboutUs"
        class="about__description row"
        v-html="about.aboutUs"
      ></div>
      <div class="col-12">
        <StaffCard
          :role="raizina.role"
          :name="raizina.name"
          :description="about.lazareva"
          :img="raizina.img"
          :links="raizina.links"
        />
        <div class="quote text-accent text-center">
          Интеллектуальный дизайн, отменный сервис, четкое понимание от идеи до
          воплощения.
          <p />
        </div>
        <StaffCard
          :role="kulevatskiy.role"
          :name="kulevatskiy.name"
          :description="about.kulevatskiy"
          :img="kulevatskiy.img"
          :links="kulevatskiy.links"
        />
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { defineComponent, onBeforeMount, computed } from "vue";
import { useStore } from "vuex";
import StaffCard from "components/StaffCard.vue";

const store = useStore();
defineComponent({
  name: "AboutPage",
  components: [StaffCard],
});
onBeforeMount(() => {
  store.dispatch("texts/getAbout");
  store.commit("general/setBreadCrumbs", `О нас`);
});
const about = computed(() => store.getters["texts/getAbout"]);
const raizina = {
  role: "Архитектор",
  name: "Полина <br/> Лазарева",
  img: "PolinaRazina.png",
  links: [{ telegram: "" }, { instagramm: "" }],
};
const kulevatskiy = {
  role: "Дизайнер",
  name: "Алексей <br/> Кулевацкий",
  img: "AlexeyKulevatskiy.png",
  links: [{ telegram: "" }, { instagramm: "" }],
};
defineExpose({
  about,
  raizina,
  kulevatskiy,
});
</script>

<style lang="scss" scoped>
.about {
  &__title {
    margin: 0 20px 30px 20px;
    font-size: 24px;
  }
  &__description {
    margin: 0 20px 0 20px;
    font-size: 16px;
  }
}
.quote {
  margin: 0 20px 0 20px;
  font-size: 14px;
  letter-spacing: 0.1rem;
  font-family: "Viaoda Libre", cursive;
}

@media (max-width: 768px) and (min-width: 429px) {
  .about {
    margin: 0 60px 0 60px;
    &__title {
      margin-bottom: 30px;
    }
    &__description {
      margin: 0;
      font-size: 16px;
    }
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  .about {
    margin: 0 60px 0 60px;
    &__title {
      margin-bottom: 30px;
    }
    &__description {
      margin: 0;
      font-size: 18px;
    }
  }
}
@media (min-width: 1025px) {
  .about {
    margin: 0 60px 0 60px;
    &__title {
      margin-bottom: 30px;
    }
    &__description {
      margin: 0;
      font-size: 18px;
    }
  }
}
</style>
