<template>
  <q-page class="text-secondary">
    <q-resize-observer @resize="onResize" />
    <div>
      <div class="contacts-main">
        <q-btn-dropdown
          v-if="width <= 428"
          class="contacts__dropdown unelevated"
          color="primary"
          label="Для обратной связи"
          :no-caps="true"
        >
          <div class="row contacts__content text-secondary bg-primary">
            <div class="col-10">
              <q-list>
                <q-item
                  dense
                  tag="a"
                  class="item item__adress q-pa-none"
                  clickable
                  v-close-popup
                  href="https://yandex.ru/maps/-/CCU5bJDisA"
                  target="_blank"
                >
                  <q-item-section>
                    <p class="q-ma-none">{{ contacts.adress }}</p>
                  </q-item-section>
                </q-item>
                <q-item
                  dense
                  tag="a"
                  class="item item__mail q-pa-none"
                  clickable
                  :href="'mailto:' + contacts.mail"
                >
                  <q-item-section>
                    <p class="q-ma-none">{{ contacts.mail }}</p>
                  </q-item-section>
                </q-item>
                <q-item
                  tag="a"
                  dense
                  class="item q-pa-none"
                  clickable
                  v-close-popup
                  :href="'tel:' + contacts.phone1"
                >
                  <q-item-section>
                    <p class="q-ma-none">{{ contacts.phone1 }}</p>
                  </q-item-section>
                </q-item>
                <q-item
                  dense
                  tag="a"
                  class="item q-pa-none"
                  clickable
                  v-close-popup
                  :href="'tel:' + contacts.phone2"
                >
                  <q-item-section>
                    <p class="q-pa-none q-ma-none">{{ contacts.phone2 }}</p>
                  </q-item-section>
                </q-item>
              </q-list>
            </div>
            <div class="col-2 content__actions">
              <q-list>
                <q-item class="q-pa-none">
                  <q-btn
                    class=""
                    size="sm"
                    type="a"
                    icon="img:/pintrest.svg"
                    href="https://www.pinterest.ru/wwwkasatkaru/"
                    target="_blank"
                  />
                </q-item>
                <q-item class="q-pa-none" style="width: 100%">
                  <q-btn
                    size="sm"
                    type="a"
                    icon="img:/telegram.svg"
                    href="https://t.me/kulevatskiy"
                    target="_blank"
                  />
                </q-item>
              </q-list>
            </div>
          </div>
        </q-btn-dropdown>
        <!-- Desctop -->
        <div v-if="width > 428" class="contacts bg-primary">
          <div class="col-12 contacts__label">Для обратной связи</div>
          <div class="row contacts__content">
            <div class="col-10">
              <q-list>
                <q-item
                  dense
                  tag="a"
                  class="item item__adress q-pa-none"
                  clickable
                  v-close-popup
                  href="https://yandex.ru/maps/-/CCU5bJDisA"
                  target="_blank"
                >
                  <q-item-section>
                    <p class="q-ma-none">{{ contacts.adress }}</p>
                  </q-item-section>
                </q-item>
                <q-item
                  dense
                  tag="a"
                  class="item item__mail q-pa-none"
                  clickable
                  :href="'mailto:' + contacts.mail"
                >
                  <q-item-section>
                    <p class="q-ma-none">{{ contacts.mail }}</p>
                  </q-item-section>
                </q-item>
                <q-item
                  tag="a"
                  dense
                  class="item q-pa-none"
                  clickable
                  v-close-popup
                  :href="'tel:' + contacts.phone1"
                >
                  <q-item-section>
                    <p class="q-ma-none">{{ contacts.phone1 }}</p>
                  </q-item-section>
                </q-item>
                <q-item
                  dense
                  tag="a"
                  class="item q-pa-none"
                  clickable
                  v-close-popup
                  :href="'tel:' + contacts.phone2"
                >
                  <q-item-section>
                    <p class="q-pa-none q-ma-none">{{ contacts.phone2 }}</p>
                  </q-item-section>
                </q-item>
              </q-list>
            </div>
            <div class="col-2 content__actions">
              <q-list>
                <q-item class="q-pa-none">
                  <q-btn
                    size="sm"
                    type="a"
                    icon="img:/pintrest.svg"
                    href="https://www.pinterest.ru/wwwkasatkaru/"
                    target="_blank"
                  />
                </q-item>
                <q-item class="q-pa-none" style="width: 100%">
                  <q-btn
                    size="sm"
                    type="a"
                    icon="img:/telegram.svg"
                    href="https://t.me/kulevatskiy"
                    target="_blank"
                  />
                </q-item>

              </q-list>
            </div>
          </div>
        </div>
      </div>
      <div id="map" />
    </div>
  </q-page>
</template>

<script setup>
import { defineComponent, onBeforeMount, onMounted, computed, ref } from "vue";
import { useStore } from "vuex";
import mapboxgl from "mapbox-gl";
import mapboxStyles from "assets/mapbox/style.js";

defineComponent({
  name: "ContactsPage",
});

const width = ref();
const store = useStore();
const contacts = computed(() => store.getters["texts/getContacts"]);
mapboxgl.accessToken =
  "pk.eyJ1IjoiamVsYmVsIiwiYSI6ImNreXUwMTZ1MzAyZm8zMnMyZmJiYTJhajgifQ.AWWe0wF_VHWfvBRVIzhfrQ";

const onResize = (size) => {
  width.value = size.width;
};

onBeforeMount(() => {
  store.dispatch("texts/getContacts");
  store.commit("general/setBreadCrumbs", `Контакты`);
});

onMounted(() => {
  const map = new mapboxgl.Map({
    container: "map",
    style: mapboxStyles,
    center: [37.65669466, 55.73617007],
    zoom: 18,
    maxZoom: 19,
    bearing: 33.79,
    pitch: 0.0,
    attributionControl: false,
  });

  const marker = document.createElement("div");
  marker.id = "marker";
  const markerImage = document.createElement("img");
  markerImage.src = "mapboxMarker.svg";
  marker.append(markerImage);

  new mapboxgl.Marker(marker).setLngLat([37.65669466, 55.73617007]).addTo(map);
});
defineExpose({
  contacts,
  onResize,
  width,
});
</script>
<style lang="scss" scoped>
.contacts-main {
  position: absolute;
  z-index: 2;
  margin: 20px 0 0 20px;
  @media (min-width: 429px) {
    margin: 60px 0 0 60px;
  }
}
a {
  padding: 5px;
}
.q-btn:before {
  display: none;
}
.contacts__content {
  font-weight: 100;
  font-size: 18px;
  border-radius: 0;
  width: 260px;
  padding: 20px 0 20px 0;
  @media (min-width: 429px) {
    width: 100%;
    max-width: 313px;
    padding: 30px 0 30px 0;
  }
}
//just desctop
.contacts__label {
  padding-left: 30px;
  padding-top: 30px;
  font-size: 24px;
  font-weight: 800;
}
//just mobile
.contacts__dropdown {
  width: 260px;
  height: 70px;
  border-radius: 0;
  font-size: 18px;
  font-weight: 800;
}
.content__actions {
  align-self: flex-end;
}
#map {
  height: 83vh;
}
.active {
  color: $accent;
  border-radius: 0px;
}
.item {
  padding-left: 20px;
  @media (min-width: 429px) {
    padding-left: 30px;
  }
}
.item:hover {
  color: $accent;
}
.item__adress {
  margin-bottom: 20px;
}
.item__mail {
  margin-bottom: 20px;
}
</style>
