<template>
  <q-page>
    <div class="wrapper">
      <h1 class="text-manrope">КАСАТКА</h1>
      <video
        :src="getRandomVideo.url"
        autoplay
        muted
        playsinline
        loop
        class="video"
        v-if="videos"
      >
        <source :src="getRandomVideo.url" type="video/m4v" />
      </video>
    </div>
    <div v-if="randomizedProjects.lenght" class="separator text-white flex items-center">
      <div>
        <div>Проекты</div>
      </div>
    </div>
    <div class="wrapper column">
      <div class="text-white col full-width project__card" v-for="project in randomizedProjects" :key="project.id">
        <div v-if="project.media.lenght" class="full-width">
          <div class="gradient">
            <q-img :src="project.media[0]" fit="cover" height="800px" :key="project.media[0]" initial-ratio="1">
              <div class="absolute-bottom text-center project__nonopacity">
                <q-btn label="Посмотреть проект" class="project__btn btn border-no text-white no-shadow" no-caps
                  :outline="false" size="lg" @click="$router.push(`/projects/${project.id}`)" />
              </div>
              <div class="info text-white project__nonopacity">
                <span class="info__subtitle">{{ project.location }}, {{ project.square }} m²
                </span>
                <span class="info__title">{{ project.title }}</span>
              </div>
            </q-img>
          </div>
        </div>
        <!-- <div
          v-if="project.media.type.includes('video')"
          class="full-width q-mr-sm"
        >
          <div class="gradient">
            <video class="video full-width" muted autoplay playsinline loop>
              <source :src="project.media.url" :type="project.media.type" />
            </video>
            <div class="info text-white project__nonopacity">
              <span class="info__subtitle"
                >{{ project.location }}, {{ project.square }} m²
              </span>
              <span class="info__title">{{ project.title }}</span>
            </div>
            <div class="absolute-bottom text-center">
              <q-btn
                label="Посмотреть проект"
                class="project__btn btn border-no text-white no-shadow"
                no-caps
                :outline="false"
                size="lg"
                @click="$router.push(`/projects/${project.id}`)"
              />
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </q-page>
</template>
<script setup>
import { computed } from "vue";
import { ref, onBeforeMount } from "vue";
import { useStore } from "vuex";

const store = useStore();
let randomizedProjects = ref([]);
const emits = defineEmits(['update-crumbs']);
onBeforeMount(() => {
  store.dispatch("projects/fetchRandomProjects").then((projects) => {
    randomizedProjects.value = projects;
  });
  store.dispatch("mainVideos/getVideos")
  emits('update-crumb', [])

});

const videos = computed(() => store.getters["mainVideos/getVideos"])


const getRandomVideo = computed(() => {
  return videos.value[Math.floor(Math.random() * videos.value.length)];
})
</script>

<style scoped lang="scss">
h1 {
  position: absolute;
  font-family: "Viaoda Libre", cursive;
  font-size: 72px;
  color: white;
  display: flex;
  z-index: 10;
  mix-blend-mode: difference;
}

body {
  font-family: "Nunito", sans-serif;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-manrope {
  font-family: "Manrope", Roboto, -apple-system, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  font-weight: 500;
}

.video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.full {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.fit {
  height: auto !important;
}

.separator {
  min-height: 100px;
  font-size: 36px;
  padding: 0 60px;
}

.info {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 0 60px;
  left: 0;
  bottom: 40px;
  font-family: "Nunito", sans-serif;

  &__subtitle {
    font-size: 12px;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
  }
}

.project__btn {
  position: relative;
  border: 1px solid white;
  z-index: 100;
}

.project__nonopacity {
  background: rgba(0, 0, 0, 0);
}

.project__card {
  margin-bottom: 20px;
  position: relative;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.gradient {
  position: relative;
}

.gradient:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 58%, #000000 100%);
  opacity: 0.8;
}

@media (max-width: 600px) {
  .separator {
    padding: 0 20px;
  }

  .info {
    padding: 0 20px;
  }
}

@media (max-width: 500px) {
  .info {
    bottom: 120px;
  }
}

.project__btn {
  bottom: 33px;
}
</style>
