<template>
  <q-page padding class="text-white container">
    <!--  -->
    <div class="separator">
      <div class="separator__title cursor-pointer" :class="isActive ? 'active' : ''">
        Проекты
      </div>
      <q-menu target=".separator__title" anchor="bottom left" square fit @update:model-value="toggleIsActive">
        <q-list class="bg-black text-white separator__list">
          <q-item @click="getAllProjects()" clickable class="q-py-sm">
            <q-item-section>Все проекты</q-item-section>
          </q-item>
          <q-item @click="filterByApartaments()" clickable class="q-py-sm">
            <q-item-section>Квартиры</q-item-section>
          </q-item>
          <q-item clickable @click="filterByHouses()" class="q-py-sm">
            <q-item-section>Дома</q-item-section>
          </q-item>
          <q-item clickable @click="filterByBusiness()" class="q-py-sm">
            <q-item-section>Бизнес</q-item-section>
          </q-item>
        </q-list>
      </q-menu>
      <!--  -->
    </div>
    <div class="row flex justify-center items-start">
      <div class="col-sm-6 col-xs-12 col__one">
        <template v-for="(project, index) in projects" :key="project.id">
          <ProjectCard v-if="index % 2 === 0 % 2" :src="project.media[0]" :subtitle="project.location"
            :title="project.title" @click="goToProject(project.id)" />
        </template>
      </div>
      <div class="col-sm-6 col-xs-12 col__two">
        <template v-for="(project, index) in projects" :key="project.id">
          <ProjectCard v-if="index % 2 !== 0 % 2" :src="project.media[0]" :subtitle="project.location"
            :title="project.title" @click="goToProject(project.id)" />
        </template>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { onBeforeMount, computed, ref } from "vue";
import { useStore } from "vuex";
import ProjectCard from "components/ProjectCard";
import { useRouter } from "vue-router";
const emits = defineEmits(['update-crumbs']);
const store = useStore();
const router = useRouter();
const projects = ref([]);
const isActive = ref(false);
const toggleIsActive = () => {
  isActive.value = !isActive.value;
};

onBeforeMount(() => {
  store
    .dispatch("projects/fetchProjects")
    .then((gettedprojects) => (projects.value = gettedprojects));
  emits('update-crumb', router.currentRoute.value.meta.crumbs);
});

const goToProject = async (id) => {
  await router.push({ name: "ProjectPage", params: { projectId: id } });
};

const filterByBusiness = () => {
  const sorted = computed(
    () => store.getters["projects/getProjectsByBusiness"]
  );
  projects.value = sorted.value;
};

const filterByApartaments = () => {
  const sorted = computed(
    () => store.getters["projects/getProjectsByApartaments"]
  );
  projects.value = sorted.value;
};

const filterByHouses = () => {
  const sorted = computed(
    () => store.getters["projects/getProjectsByHome"]
  );
  projects.value = sorted.value;
};

const getAllProjects = () => {
  const sorted = computed(() => store.getters["projects/getAllProjects"]);
  projects.value = sorted.value;
};
</script>

<style lang="scss">
.container {
  padding: 0 60px;
}

.title {
  margin-top: 30px;
  margin-bottom: 30px;
}

#title {
  font-size: 36px;
}

.separator {
  min-height: 100px;
  font-size: 36px;
  padding: 0 0;

  @media (max-width: 768px) {
    font-size: 24px;
  }

  &__title {
    max-width: 165px;

    @media (max-width: 768px) {
      max-width: 110px;
    }

    position: relative;
    transition: 0.3s;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      right: -20px;
      background-image: url("../../public/arrow-down.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 10px;
      height: 10px;
      transition: 0.3s;
    }

    &.active {
      &:before {
        transform: rotate(0deg);
      }
    }
  }

  &__list {
    padding-left: 20px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      margin-top: 14px;
      top: 0;
      left: 10px;
      height: 80%;
      width: 1px;
      background-color: #fff;
    }
  }
}

@media (min-width: 1025px) {
  .col__one .project__card-img {
    height: 350px;
  }

  .col__two .project__card-img {
    height: 430px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .col__one .project__card-img {
    height: 300px;
  }

  .col__two .project__card-img {
    height: 370px;
  }
}

@media (max-width: 768px) and (min-width: 428px) {
  .col__one .project__card-img {
    height: 250px;
  }

  .col__two .project__card-img {
    height: 310px;
  }
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .container {
    padding: 0;
    margin: 0;
  }

  .project__card-img {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
</style>
