<template>
  <q-page class="project text-white q-px-lg" v-if="project?.media[0]">
    <q-resize-observer @resize="onResize" />
    <h5 class="q-ma-none q-my-md title">{{ project.title }}</h5>
    <div class="row main" v-if="width > 428">
      <div ref="galleryElement" class="gallery row scroll overflow-scroll" v-scroll="onScroll">
        <div class="col-6 first_column">
          <q-resize-observer @resize="onFirstColumnResize" />
          <div class="column_item" v-for="(item, index) in mediaChunks[0]" :key="index">
            <media :src="item" :key="index" @click="onFullscreen(index)" />
          </div>
        </div>
        <div class="col-6 second_column">
          <q-resize-observer @resize="onSecondColumnResize" />
          <div class="column_item" v-for="(item, index) in mediaChunks[1]" :key="index">
            <media :src="item" :key="index" @click="onFullscreen(mediaChunks[0].length + index)" />
          </div>
        </div>
      </div>
      <div class="flex flex-end items-center">
        <q-slider style="width: 100%; height: 100%" v-model="sliderScroll" :model-value="sliderScroll" :min="0"
          :max="maxHeight" vertical color="white" dark />
      </div>
      <div class="bottom-shadow"></div>
    </div>
    <!-- mobile -->
    <div v-else class="gallery row justify-center" v-touch-swipe.mouse="swipeSlide">
      <div v-if="!project.media[currentSlide].includes('jpg') && !project.media[currentSlide].includes('png')">
        <div class="play"></div>
        <video :key="project.media[currentSlide]" class="video" style="height: 568px; width: 100vw" autoplay playsinline
          loop>
          <source :src="project.media[currentSlide]" />
        </video>
      </div>
      <q-img v-else :src="project.media[currentSlide]" height="568px" :key="project.media[currentSlide]"
        fit="contain" />
      <div class="row slider items-center justify-between bg-black q-px-lg q-py-sm" v-if="width <= 428">
        <div class="bg-black previous flex items-center justify-center q-mr-md" @click="previousSlide()">
          <div class="left_arrow" />
        </div>
        <div class="counter flex items-center justify-center text-white text-subtitle1">
          <span class="current_number q-pr-xs gold">{{
              currentSlide + 1
          }}</span>
          из
          {{ project.media.length }}
        </div>
        <div class="next flex items-center justify-center q-ml-md" @click="nextSlide()">
          <div class="right_arrow" />
        </div>
      </div>
    </div>
    <!-- desktop description -->
    <div class="about row flex justify-between">
      <div class="col-xs-12 col-sm-7 col-md-9">
        <div v-if="width > 428" class="about__text" v-html="project.description"></div>
        <q-btn v-else label="Моделирование" no-caps class="about__btn btn q-mt-lg" @click="onOpenPopup()" />
      </div>
      <div class="about__info self-start col-xs-12 col-sm-3">
        <p class="q">
          <span class="about__info-gold gold">Тип:</span> {{ project.type }}
        </p>
        <p>
          <span class="about__info-gold gold">Год окончания работ: </span>
          {{ project.finishDate }}
        </p>
        <p>
          <span class="about__info-gold gold">Площадь: </span>{{ project.square }}²
        </p>
        <p>
          <span class="about__info-gold gold">Где: </span>{{ project.location }}
        </p>
        <q-btn v-if="width > 428" label="Моделирование" no-caps class="about__btn btn q-mt-lg" @click="onOpenPopup()" />
      </div>
    </div>
    <!-- dialog -->
    <q-dialog full-width v-model="IsOpenPopUp">
      <ModelingPopup :modeling-array="project.modeling" :current-slide="currentSlide" @close-popup="onClose(IsOpenPopUp)" />
    </q-dialog>
    <q-dialog full-width v-model="isFullscreenPopup">
      <ModelingPopup :modeling-array="project.media" :current-slide="currentSlide" @close-popup="onClose(isFullscreenPopup)" />
    </q-dialog>
  </q-page>
</template>

<script setup>
import {
  ref,
  computed,
  onBeforeMount,
  onBeforeUnmount,
  watchEffect,
  watch,
} from "vue";
import { useStore } from "vuex";
import { useRoute } from "vue-router";
import { scroll } from "quasar";
import ModelingPopup from "components/ModelingPopup";
import Media from "components/ui/Media";
const emit = defineEmits(['update-crumb'])
const { getScrollTarget, setVerticalScrollPosition } = scroll;

const store = useStore();
const route = useRoute();
onBeforeMount(() => {
  store
    .dispatch("projects/fetchProject", route.params.projectId)
    .then((project) => {
      route.meta.title = project.title;
      let crumbs = [...route.meta.crumbs];
      crumbs[2] = { label: project.title, to: ''};
      emit('update-crumb', crumbs);
    });
});
const project = computed(() => store.getters["projects/getProject"]);
const video = ref(null)
onBeforeUnmount(() => emit('update-crumb', route.meta.crumbs))

//gallery scroll block
const galleryElement = ref(null);
const galleryScrollTarget = ref(null);
const firstColumnHeight = ref(null);
const secondColumnHeight = ref(null);
const maxHeight = computed(() => {
  return firstColumnHeight.value > secondColumnHeight.value
    ? firstColumnHeight.value - 600
    : secondColumnHeight.value - 600;
});
const mediaChunks = computed(() => store.getters["projects/getChunks"]);
const sliderScroll = ref(0);
const isFullscreenPopup = ref(false);
const onFirstColumnResize = (size) => {
  firstColumnHeight.value = size.height;
};
const onSecondColumnResize = (size) => {
  secondColumnHeight.value = size.height;
};
const onScroll = (position) => {
  sliderScroll.value = position;
};
watchEffect(() => {
  if (galleryElement.value !== null) {
    galleryScrollTarget.value = getScrollTarget(galleryElement.value);
    // setVerticalScrollPosition(galleryScrollTarget.value, 300);
  }
});

watch(sliderScroll, (newScrollPosition, prevScrollPosition) => {
  setVerticalScrollPosition(galleryScrollTarget.value, newScrollPosition);
});

//mobile slider block
const currentSlide = ref(0);
const nextSlide = () => {
  if (currentSlide.value + 1 >= project.value.media.length) currentSlide.value = 0;
  else currentSlide.value++;
};

const previousSlide = () => {
  if (currentSlide.value - 1 < 0) currentSlide.value = project.value.media.length - 1;
  else currentSlide.value--;
};

const fullscreenUrl = ref("");
const width = ref(null);
const IsOpenPopUp = ref(false);

const onFullscreen = (index) => {
  currentSlide.value = index;
  isFullscreenPopup.value = true;
};

const onOpenPopup = () => {
  IsOpenPopUp.value = true;
};

const onResize = (size) => {
  width.value = size.width;
};

const swipeSlide = ({ evt, ...newInfo }) => {
  if (newInfo.direction === "left") {
    nextSlide();
  } else if (newInfo.direction === "right") {
    previousSlide();
  }
};
const onClose = (toggle) => toggle = !toggle;

defineExpose({
  swipeSlide,
  sliderScroll,
  maxHeight,
  width,
  project,
  mediaChunks,
  onResize,
  IsOpenPopUp,
  currentSlide,
  onOpenPopup,
  nextSlide,
  previousSlide,
  fullscreenUrl,
  onFullscreen,
  isFullscreenPopup,
  onClose
});
</script>

<style lang="scss" scoped>
::-webkit-scrollbar {
  display: none;
}

.project {
  padding: 0;

  @media (min-width: 429px) {
    padding: 0 60px;
  }
}

.title {
  font-size: 36px;
  padding-left: 20px;

  @media (min-width: 429px) {
    padding-left: 0;
  }
}

.column_item {
  margin-bottom: 20px;
  z-index: 6;
}

.second_column {
  padding: 0 20px 0 20px;
}

.gallery {
  padding: 0;

  @media (max-width: 768px) {
    position: relative;
  }

  @media (min-width: 429px) {
    height: 600px;
    width: 100%;
  }
}

.slider {
  position: absolute;
  bottom: 20px;
  width: 240px;
  height: 70px;
  left: 50%;
  transform: translate(-50%, -5%);
}

.bottom-shadow {
  position: relative;
  margin-top: -100px;
  margin-right: 20px;
  width: 100%;
  height: 100px;
  z-index: 10;
  background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #000000 100%);
}

.about {
  &__btn {
    width: 100%;
    border: 1px solid white;
    font-size: 18px;

    height: 40px;
  }

  &__info {
    font-size: 18px;
    font-weight: 300;
  }

  &__text {
    font-family: "Viaoda Libre", cursive;
    font-size: 24px;
    line-height: 33px;
    max-width: 900px;
  }
}

.btn__fullscreen {
  z-index: 11;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
}

@media (max-width: 1024px) {
  .btn__fullscreen {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  .btn__fullscreen {
    width: 25px;
    height: 25px;
  }

  .about__btn {
    max-width: 220px;
  }

  .left_arrow {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid white;
  }

  .right_arrow {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid white;
  }
}

@media (max-width: 428px) {
  .modelingPopup {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .about__info {
    font-size: 14px;
  }

  .about {
    padding: 0 20px 0 20px;
    margin-bottom: 30px;
  }

  .about__btn {
    margin-bottom: 20px;
    max-width: 100%;
    width: 374px;
    height: 50px;
  }
}
</style>
