<template>
  <q-page padding class="text-white container">
    <q-resize-observer @resize="onResize" />
    <div class="title">
      <h6 id="title" class="q-ma-none">Услуги</h6>
    </div>
    <div class="row service__cards">
      <div
        class="col-12 service__card"
        v-for="(service, index) in services"
        :key="index"
      >
        <div class="card__texts">
          <div class="card__name">
            {{ service.name }}
          </div>
          <div class="card__description">
            <p>{{ service.description }}</p>
          </div>
        </div>
        <div class="card__price text-gold">
          <p>{{ service.value }} ₽</p>
          <q-btn
            label="Заказать проект"
            padding="md"
            outline
            color="white"
            class="no-border-radius"
            style="width: 65%"
          />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { useStore } from "vuex";
import { computed, onBeforeMount } from "vue";

const store = useStore();
onBeforeMount(async () => {
  await store.dispatch("services/fetchServices");
  await store.commit("general/setBreadCrumbs", "Услуги");
});

const services = computed(() => store.getters["services/serviceList"]);
</script>

<style scoped lang="scss">
.service {
  &__cards {
  }
  &__card {
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    margin-bottom: 20px;
    @media only screen and (min-width: 429px) {
      display: flex;
      margin-bottom: 30px;
      justify-content: space-between;
    }
  }
}

.card {
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid #ffffff;
  box-sizing: border-box;

  &__name {
    padding: 20px 0 0 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }

  &__description {
    padding: 20px 0 20px 20px;
    font-size: 12px;
    color: #fff;
    opacity: 0.56;
    width: 100%;
  }

  &__price {
    padding: 40px 0;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    border-top: 1px solid #ffffff;
    box-sizing: border-box;
    @media only screen and (min-width: 429px) {
      width: 32%;
      max-width: 320px;

      border-left: 1px solid #ffffff;
    }
  }
  &__texts {
    @media only screen and (min-width: 429px) {
      width: 68%;
    }
  }
}

.title {
  font-family: "Nunito", "sans-serif";
  margin-top: 30px;

  margin-bottom: 30px;
  @media only screen and (max-width: 768px) {
    margin-top: 0;
    font-size: 12px;
  }
}
#title {
  font-size: 36px;
  @media only screen and (max-width: 768px) {
    font-size: 24px;
  }
}
.container {
  padding: 0 60px;
  @media only screen and (max-width: 768px) {
    padding: 0 20px;
  }
}
</style>
