<template>
  <q-page padding>
    <q-tabs v-model="tab" class="text-blue">
      <q-tab name="about" label="О проекте" />
      <q-tab name="gallery" label="Галерея" />
      <q-tab name="seo" label="SEO" />
    </q-tabs>
    <q-tab-panels v-model="tab" animated swipeable vertical transition-prev="jump-up" transition-next="jump-up">
      <q-tab-panel name="about">
        <div class="text-h4 q-mb-md">Инфо</div>
        <!-- title -->
        <q-input v-model="title" label="Название" filled debounce="500" class="q-mb-md col-4 text-center" />
        <!-- Finish Date -->
        <q-input v-model="finishDate" label="Дата окончания проекта" filled debounce="500"
          class="q-mb-md col-4 text-center" />
        <!-- Type -->
        <q-select v-model="type" label="Тип проекта" filled debounce="500" class="q-mb-md col-4 text-center"
          :options="typeOptions" />
        <!-- square -->
        <q-input v-model="square" label="Площадь" filled debounce="500" class="q-mb-md col-4 text-center" />
        <!-- location -->
        <q-input v-model="location" label="Местоположение проекта" filled debounce="500"
          class="q-mb-md col-4 text-center" />
        <!-- description editor -->
        <div class="q-pa-md q-gutter-sm">
          <q-editor v-model="description" :toolbar="[
            [
              'bold',
              'italic',
              'strike',
              'underline',
              'subscript',
              'superscript',
            ],
          ]" />
        </div>
      </q-tab-panel>

      <q-tab-panel name="gallery">
        <div class="text-h4 q-mb-md">Галерея</div>
        <!-- existed media -->
        <div>
          <p>Загрузить файлы для нового проекта</p>
        </div>
        <!-- uploader media -->
        <file-uploader label="Фото и видео проекта" key="media" @uploaded="onUploaded($event, 'media')" />
        <q-separator />
        <file-uploader label="Модели проекта" key="model" @uploaded="onUploaded($event, 'modeling')" />
      </q-tab-panel>

      <q-tab-panel name="seo">
        <div class="text-h4 q-mb-md">Seo</div>
        <!-- meta list-->
        <div>
          <q-input filled label="title" v-model="meta.title" class="q-mb-md" />
          <q-input filled label="description" v-model="meta.description" class="q-mb-md" />
          <q-input filled label="keywords" v-model="meta.keywords" class="q-mb-md" />
          <q-input filled label="ogImage" v-model="meta.ogImage" class="q-mb-md" />
          <q-input filled label="ogDescription" v-model="meta.ogDescription" class="q-mb-md" />
          <q-input filled label="ogUrl" v-model="meta.ogUrl" class="q-mb-md" />
          <q-input filled label="ogType" v-model="meta.ogType" class="q-mb-md" />
          <q-input filled label="ogTitle" v-model="meta.ogTitle" class="q-mb-md" />
        </div>
      </q-tab-panel>
    </q-tab-panels>
    <q-btn label="Сохранить и создать проект" @click="onSend" :disable="isValid" />
  </q-page>
</template>

<script>
import { ref } from "vue";
import { useStore } from "vuex";
import FileUploader from 'components/ui/FileUploader';
import { Notify } from 'quasar';

export default {
  name: "CreateProject",
  components: { FileUploader },
  setup() {
    const store = useStore();
    let isValid = ref(false);

    const title = ref("");
    const description = ref("");
    const location = ref("");
    const finishDate = ref("");
    const square = ref("");
    const type = ref("");
    const typeOptions = ["Квартиры", "Дома", "Бизнес"];
    const meta = ref({
      title: "",
      keywords: "",
      description: "",
      ogTitle: "",
      ogType: "",
      ogUrl: "",
      ogDescription: "",
      ogImage: "",
    });
    const files = ref({
      media: [],
      modeling: []
    })

    const onUploaded = async (info, name) => {
      const response = JSON.parse(info.xhr.response)
      if (response.data.Location) {
        files.value[name].push(response.data.Location)
      } else {
        Notify.create({
          message: response.message,
          color: "negative",
          icon: "error"
        })
      }
    };

    const onRejected = () => {
      isValid.value = true;
      return "При создании проекта нужно загрузить не меньше 4-х файлов";
    };

    const onAccepted = () => {
      isValid.value = false;
    };

    const onSend = async () => {
      const project = new FormData();
      project.append("title", title.value);
      project.append("description", description.value);
      project.append("location", location.value);
      project.append("finishDate", finishDate.value);
      project.append("square", square.value);
      project.append("type", type.value);
      project.append("meta", JSON.stringify(meta.value));
      project.append("media", files.value.media);
      project.append("modeling", files.value.modeling);

      await store.dispatch("projects/createProject", project);
    };
    return {
      title,
      description,
      location,
      finishDate,
      square,
      type,
      typeOptions,
      meta,
      files,
      tab: ref("about"),
      onSend,
      isValid,
      onRejected,
      onAccepted,
      onUploaded
    };
  },
};
</script>
