<template>
  <q-page padding>
    <q-tabs v-model="tab" class="text-blue">
      <q-tab name="about" label="О проекте" />
      <q-tab name="gallery" label="Галерея" />
      <q-tab name="seo" label="SEO" />
    </q-tabs>
    <q-tab-panels v-model="tab" animated swipeable vertical transition-prev="jump-up" transition-next="jump-up">
      <q-tab-panel name="about">
        <div class="text-h4 q-mb-md">Инфо</div>
        <!-- title -->
        <q-input v-model="project.title" @update:model-value="setTitle" label="Название" filled debounce="500"
          class="q-mb-md col-4 text-center" />
        <!-- Finish Date -->
        <q-input v-model="project.finishDate" @update:model-value="setFinishDate" label="Дата окончания проекта" filled
          debounce="500" class="q-mb-md col-4 text-center" />
        <!-- Type -->
        <q-select v-model="project.type" @update:model-value="setType" label="Тип проекта" filled debounce="500"
          :options="typeOptions" class="q-mb-md col-4 text-center" />
        <!-- square -->
        <q-input v-model="project.square" @update:model-value="setSquare" label="Площадь" filled debounce="500"
          class="q-mb-md col-4 text-center" />
        <!-- location -->
        <q-input v-model="project.location" @update:model-value="setLocation" label="Местоположение проекта" filled
          debounce="500" class="q-mb-md col-4 text-center" />
        <!-- description editor -->
        <div class="q-pa-md q-gutter-sm">
          <q-editor v-model="project.description" @update:model-value="setDescription" :toolbar="[
            [
              'bold',
              'italic',
              'strike',
              'underline',
              'subscript',
              'superscript',
            ],
            ['upload', 'save'],
          ]" />
        </div>
      </q-tab-panel>
      <q-tab-panel name="gallery">
        <div class="text-h4 q-mb-md">Галерея</div>
        <div>
          <div v-if="project?.media?.length > 0" class="q-mb-md">
            <div class="text-h5 q-mb-sm">Файлы галереи проекта</div>
            <q-carousel swipeable animated v-model="mediaSlide" thumbnails infinite>
              <template v-for="(image, index) in project.media" :key="index">
                <q-carousel-slide :name="index" :img-src="image">
                  <q-btn class="absolute-top-right" icon="delete" dense color="negative"
                    @click="onDelete({ field: 'media', fileKey: image, fileIndex: index, projectId: project.id })">
                  </q-btn>
                </q-carousel-slide>
              </template>
            </q-carousel>
          </div>
          <div v-else>
            <p>Нет загруженных медиафайлов галереи проекта</p>
          </div>
          <file-uploader label="Фото и видео проекта" key="media" @uploaded="onUploaded($event, 'media')" />
        </div>
        <q-separator />
        <div>
          <div v-if="project?.modeling?.length > 0" class="q-mb-md">
            <div class="text-h5 q-mb-sm">Файлы моделирования проекта</div>
            <q-carousel swipeable animated v-model="modelingSlide" thumbnails infinite>
              <q-carousel-slide v-for="(url, index) in project.modeling" :key="url" :name="index" :img-src="url">
                <q-btn class="absolute-top-right" icon="delete" dense color="negative"
                  @click="onDelete({ field: 'modeling', fileKey: url, fileIndex: index, projectId: project.id })" />
              </q-carousel-slide>
            </q-carousel>
          </div>
          <div v-else>
            <p>Нет загруженных медиафайлов моделирования</p>
          </div>
          <file-uploader label="Модели проекта" key="model" @uploaded="onUploaded($event, 'modeling')" />
        </div>
      </q-tab-panel>

      <q-tab-panel name="seo">
        <div class="text-h4 q-mb-md">Seo</div>
        <!-- meta list-->
        <div>
          <q-input class="q-mb-md" v-model="meta.title" @update:model-value="setMetaTitle" filled debounce="500"
            label="seoTitle" />
          <q-input class="q-mb-md" v-model="meta.description" @update:model-value="setMetaDescription" filled
            label="seoDescription" debounce="500" />
          <q-input class="q-mb-md" v-model="meta.keywords" @update:model-value="setMetaKeywords" filled label="keywords"
            debounce="500" />
          <q-input class="q-mb-md" v-model="meta.ogType" @update:model-value="setMetaOgType" filled label="ogType"
            debounce="500" />
          <q-input class="q-mb-md" v-model="meta.ogTitle" @update:model-value="setMetaOgTitle" filled label="ogTitle"
            debounce="500" />
          <q-input class="q-mb-md" v-model="meta.ogUrl" @update:model-value="setMetaOgUrl" filled label="ogUrl"
            debounce="500" />
          <q-input class="q-mb-md" v-model="meta.ogDescription" @update:model-value="setMetaOgDescription" filled
            label="ogDescription" debounce="500" />
          <q-input class="q-mb-md" v-model="meta.ogImage" @update:model-value="setMetaOgImage" filled label="ogImage"
            debounce="500" />
        </div>
      </q-tab-panel>
    </q-tab-panels>
    <q-btn label="Сохранить проект" class="q-mt-md" @click="onUpdate" />
  </q-page>
</template>

<script>
import { onBeforeMount, onUnmounted, ref, computed } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useStore } from "vuex";
import FileUploader from 'components/ui/FileUploader';
import { Notify } from 'quasar';

export default {
  name: "EditProject",
  components: { FileUploader },
  setup() {
    const store = useStore();
    const router = useRouter();
    const route = useRoute();
    const id = route.params.projectId;
    onBeforeMount(async () => {
      await store.dispatch("projects/fetchProject", id);
    });
    onUnmounted(() => {
      store.commit("projects/cleanSelectedProject");
    });
    const project = computed(() => store.getters["projects/getProject"]);
    const meta = computed(() => store.getters["projects/getMeta"]);
    const files = ref({
      media: [],
      modeling: []
    });
    const typeOptions = ["Квартиры", "Дома", "Бизнес"];
    const setTitle = (title) => store.commit("projects/setTitle", title);
    const setDescription = (description) => store.commit("projects/setDescription", description);
    const setType = (type) => store.commit("projects/setType", type);
    const setFinishDate = (finishDate) => store.commit("projects/setFinishDate", finishDate);
    const setSquare = (square) => store.commit("projects/setSquare", square);
    const setLocation = (location) => store.commit("projects/setLocation", location);
    const setMetaTitle = (metaTitle) => store.commit("projects/setMetaTitle", metaTitle);
    const setMetaDescription = (metaDescription) => store.commit("projects/setMetaDescription", metaDescription);
    const setMetaImage = (metaImage) => store.commit("projects/setMetaImage", metaImage);
    const setMetaKeywords = (metaKeywords) => store.commit("projects/setMetaKeywords", metaKeywords);
    const setMetaOgType = (OgType) => store.commit("projects/setMetaOgType", OgType);
    const setMetaOgTitle = (OgTitle) => store.commit("projects/setMetaOgTitle", OgTitle);
    const setMetaOgUrl = (OgUrl) => store.commit("projects/setMetaOgUrl", OgUrl);
    const setMetaOgDescription = (OgDescription) => store.commit("projects/setMetaOgDescription", OgDescription);
    const setMetaOgImage = (OgImage) => store.commit("projects/setMetaOgImage", OgImage);
    const selectedProject = computed(() => store.getters["projects/getProject"])
    const onDelete = async (item) => {
      await store.dispatch('projects/removeFileFromProject', item);
    };

    const onFailed = (info) => {
    };
    const onUploaded = async (info, name) => {
      const response = JSON.parse(info.xhr.response);
      if (response.data.Location) {
        files.value[name].push(response.data.Location);
      }
      else {
        Notify.create({
          message: response.message,
          color: "negative",
          icon: "error"
        });
      }
    };
    const onUpdate = async () => {
      const project = JSON.parse(JSON.stringify(selectedProject.value));
      project.media.push(...files.value.media)
      project.modeling.push(...files.value.modeling)

      const res = await store.dispatch("projects/updateProject", [files.value.media, files.value.modeling]);
      if (res) {
        Notify.create({
          message: res,
          type: 'positive'
        })
        return await router.push({ name: "TableProjects" });
      } else {
        Notify.create({
          message: 'Ошибка редактирования проекта',
          type: 'negative'
        })
      }

    };

    return {
      project,
      meta,
      setTitle,
      onDelete,
      onFailed,
      onUploaded,
      setDescription,
      setType,
      setFinishDate,
      setSquare,
      setLocation,
      setMetaTitle,
      setMetaDescription,
      setMetaImage,
      setMetaKeywords,
      setMetaOgType,
      setMetaOgTitle,
      setMetaOgUrl,
      setMetaOgImage,
      setMetaOgDescription,
      typeOptions,
      onUpdate,
      files,
      mediaSlide: ref(0),
      modelingSlide: ref(0),
      tab: ref("about"),
      splitterModel: ref(20),
    };
  },
};
</script>
