<template>
  <q-page padding>
    <h3 class="q-mb-md"> {{ $route.meta.title }}</h3>
    <router-view v-slot="{ Component }">
      <transition
        appear
        enter-active-class="animated slideInRight"
        leave-active-class="animated slideOutRight"
      >
        <component :is="Component" :key="$router.path" />
      </transition>
    </router-view>
  </q-page>
</template>

<script>
export default {
  name: "Projects",
};
</script>
