<template>
  <q-page>
    <div>
      <q-table :rows="rows" :columns="columns" row-key="name">
        <template #top>
          <div class="row">
            <div class="col-12 justify-end">
              <q-btn
                class="q-mt-md"
                label="Создать новый проект"
                :to="{ name: 'CreateProject' }"
              />
            </div>
          </div>
        </template>
        <template v-slot:body-cell-action="props">
          <q-td :props="props">
            <div>
              <q-btn
                flat
                no-caps
                icon="edit"
                class="edit"
                round
                :to="{
                  name: 'EditProject',
                  params: { projectId: props.row.id },
                }"
              />
              <q-btn
                flat
                no-caps
                icon="delete"
                round
                @click="deleteProject(props.row.id)"
              />
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import { computed, ref, onBeforeMount } from "vue";
import { useStore } from "vuex";
import { Notify } from "quasar";

export default {
  name: "Table",
  setup() {
    const store = useStore();

    onBeforeMount(async () => {
      return await store.dispatch("projects/fetchProjects");
    });

    const deleteProject = async (id) => {
      await store.dispatch("projects/deleteProject", id);
      await store.dispatch("projects/fetchProjects");
      Notify.create("Проект удален");
    };

    return {
      columns: computed(() => store.getters["projects/getColumns"]),
      rows: computed(() => store.getters["projects/getRows"]),
      text: "",
      group: [],
      options: [
        { label: "Battery too low", value: "bat" },
        { label: "Friend request", value: "friend", color: "green" },
        { label: "Picture uploaded", value: "upload", color: "red" },
      ],
      deleteProject,
    };
  },
};
</script>

<style scoped></style>
