<template>
  <div>
    <q-input
      :label="label"
      v-model="metaValue"
      @update:model-value="updateSingleMeta"
      class="q-pa-md"
      debounce="500"
    />
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  name: "MetaInput",
  emits: ["updatedMeta"],
  props: {
    label: {
      type: String,
      require: true,
      default: new String(),
    },
    metaProp: {
      type: String,
      require: false,
      default: new String(),
    },
  },
  setup(props, { emit }) {
    const metaValue = ref(props.metaProp);

    const updateSingleMeta = () => {
      emit("updatedMeta", props.label, metaValue.value);
    };

    return { metaValue, updateSingleMeta };
  },
};
</script>
