<template>
  <meta-input
    :metaProp="props.page.meta.title"
    :label="title"
    @updatedMeta="updatedPage"
  />
  <meta-input
    :metaProp="props.page.meta.description"
    :label="description"
    @updatedMeta="updatedPage"
  />
  <meta-input
    :metaProp="props.page.meta.keywords"
    :label="keywords"
    @updatedMeta="updatedPage"
  />
  <meta-input
    :metaProp="props.page.meta.ogDescription"
    :label="ogDescription"
    @updatedMeta="updatedPage"
  />
  <meta-input
    :metaProp="props.page.meta.ogImage"
    :label="ogImage"
    @updatedMeta="updatedPage"
  />
  <meta-input
    :metaProp="props.page.meta.ogTitle"
    :label="ogTitle"
    @updatedMeta="updatedPage"
  />
  <metaInput
    :metaProp="props.page.meta.ogType"
    :label="ogType"
    @updatedMeta="updatedPage"
  />
  <meta-input
    :metaProp="props.page.meta.ogUrl"
    :label="ogUrl"
    @updatedMeta="updatedPage"
  />
</template>

<script>
import MetaInput from "./MetaInput.vue";
export default {
  name: "MetaForm",
  emits: ["updatedPage"],
  components: { MetaInput },
  props: {
    page: {
      type: Object,
      require: true,
      default: () => ({
        meta: {
          title: "Example",
          description: "Example",
          keywords: "Example",
          ogDescription: "Example",
          ogImage: "Example",
          ogTitle: "Example",
          ogType: "Example",
          ogUrl: "Example",
        },
      }),
    },
  },
  setup(props, { emit }) {
    const title = "title";
    const description = "description";
    const keywords = "keywords";
    const ogDescription = "ogDescription";
    const ogImage = "ogImage";
    const ogTitle = "ogTitle";
    const ogType = "ogType";
    const ogUrl = "ogUrl";

    //я тут подустал...
    const pageNew = JSON.parse(JSON.stringify(props.page));

    const updatedPage = (metaProperty, metaValue) => {
      pageNew.meta[metaProperty] = metaValue;
      emit("updatedPage", pageNew);
    };

    return {
      props,
      title,
      description,
      keywords,
      ogDescription,
      ogImage,
      ogTitle,
      ogType,
      ogUrl,
      updatedPage,
    };
  },
};
</script>
