<template>
  <Media class="flex items-center column popStat" style="width: 100vw; height: 100vh" :src="url" />
</template>

<script setup>
import Media from 'components/ui/Media'
const props = defineProps({
    url: {
      type: String,
      required: true,
      default: () => "",
    },
  });

const closePopup = () => {
      emit("closePopup");
    };
</script>

<style scoped lang="scss">
.close {
  background-color: rgba(211, 172, 112, 0.8);
}

.popStat {
  background-color: rgba(0, 0, 0, 0.8);
}
</style>
