<template>
  <q-header elevated>
    <q-toolbar>
      <q-btn flat round dense icon="menu" @click="toggleLeftDrawer">
        <q-tooltip> Скрыть меню </q-tooltip>
      </q-btn>

      <q-toolbar-title> Kasatka CMS </q-toolbar-title>

      <q-btn label="Сменить тему" @click="toggleTheme" flat />
      <q-btn flat icon="logout" @click="onLogout">
        <q-tooltip>Выход</q-tooltip>
      </q-btn>
    </q-toolbar>
  </q-header>
</template>

<script>
import {LocalStorage} from "quasar";
import {useRouter} from "vue-router";

export default {
  name: "Header",
  setup(props, { emit }) {
    const router = useRouter();
    const toggleTheme = () => {
      emit("toggleTheme");
    };

    const toggleLeftDrawer = () => {
      emit("toggleLeftDrawer");
    };
    const onLogout = () => {
      LocalStorage.clear();
      router.push({ name: 'signin' })
    }

    return {
      onLogout,
      toggleTheme,
      toggleLeftDrawer,
    };
  },
};
</script>

<style scoped></style>
