<template>
  <div class="wrapper cursor-pointer">
    <div
      class="menu justify-end"
      @click="clickBurger"
      :class="isOpen ? 'active' : ''"
    >
      <p v-if="withLabel" class="menu__title cursor-pointer">Меню</p>
      <div
        :class="
          isOpen
            ? 'header__burger active cursor-pointer'
            : 'header__burger cursor-pointer'
        "
      ></div>
      <q-list
        class="header__menu flex column q-pa-md q-mt-xl"
        v-if="isOpen"
        :key="isOpen"
      >
        <q-item
          class="menu__link"
          clickable
          :to="{ name: 'AboutPage' }"
          exact
          exact-active-class="active"
        >
          <q-item-section>О нас</q-item-section>
        </q-item>
        <q-item
          class="menu__link"
          clickable
          :to="{ name: 'ProjectsPage' }"
          exact
          exact-active-class="active"
        >
          <q-item-section>Проекты</q-item-section>
        </q-item>
        <q-item
          class="menu__link"
          clickable
          :to="{ name: 'service' }"
          exact
          exact-active-class="active"
        >
          <q-item-section>Услуги</q-item-section>
        </q-item>
        <!-- <q-item class="q-mb-md" clickable>
          <q-item-section>Блог</q-item-section>
        </q-item>
        <q-item class="q-mb-md" clickable>
          <q-item-section>Студия</q-item-section>
        </q-item> -->
        <q-item
          class="menu__link q-mb-md"
          clickable
          :to="{ name: 'ContactsPage' }"
          exact
          exact-active-class="active"
        >
          <q-item-section>Контакты</q-item-section>
        </q-item>
        <q-btn
          label="Заказать проект"
          no-caps
          class="menu__btn btn q-ma-md q-pa-sm"
          @click="clickBtn"
        />
        <q-list class="flex justify-center">
          <q-item
            class="cursor-pointer flex justify-center items-center"
            href="https://www.pinterest.ru/wwwkasatkaru/"
            tag="a"
            target="_blank"
          >
            <q-icon name="img:/pintrest.svg" />
          </q-item>
          <q-item
            class="cursor-pointer flex justify-center items-center"
            href="https://t.me/kulevatskiy"
            tag="a"
            target="_blank"
          >
            <q-icon name="img:/telegram.svg" />
          </q-item>
        </q-list>
      </q-list>
    </div>
  </div>
</template>

<script>
export default {
  name: "Menu",
  props: {
    items: {
      type: Array,
      default: () => [],
    },
    isOpen: {
      type: Boolean,
      default: false,
    },
    withLabel: {
      type: Boolean,
      default: () => false,
    },
  },
  setup(props, ctx) {
    //TODO: COMPLETE NODES FUNCS
    const nodes = [
      {
        label: "Услуги",
        children: [
          {
            label: "Архитектурные",
            handler: () => {},
          },
          {
            label: "Дизайнерские",
            handler: () => {
            },
          },
        ],
      },
    ];

    const clickBtn = () => {
      ctx.emit("clickBtn");
    };

    const clickBurger = (event) => {
      ctx.emit("clickBurger", !props.isOpen);
    };
    return {
      clickBurger,
      clickBtn,
    };
  },
};
</script>

<style lang="scss">
.menu .q-separator.q-separator--horizontal {
  display: none;
}
.tree:hover {
  background-color: rgba(252, 7, 7, 0);
}
.q-tree__arrow {
  position: absolute;
  top: 10px;
  right: 100px;
}
.q-tree__children {
  padding-left: 0 !important;
  position: relative;
  margin-left: 10px;
  &:before {
    content: "";
    position: absolute;
    top: 18px;
    left: -10px;
    background-color: #fff;
    height: 60%;
    width: 1px;
  }
}
.q-tree__node {
  padding: 0;
}

.q-tree__node-header {
  .q-focus-helper {
    visibility: hidden;
  }
}

.wrapper {
  position: absolute;
  right: 0;
}
.menu {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  margin-top: 16px;
  margin-right: 30px;
  display: flex;
  position: relative;
  color: white;
  width: 92px;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: -8px;
    bottom: -10px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  &.active {
    &:after {
      content: "";
      background-color: rgba(0, 0, 0, 0);
    }
  }
  &__title {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 100;
  }
  &__btn {
    border: 1px solid white;
    font-size: 16px;
  }
}

.header__menu {
  position: absolute;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.8);
  width: 250px;
}

.header__burger {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 14px;
  margin-right: 14px;
  position: relative;
  z-index: 3;
}

.header__burger:before,
.header__burger:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: 0.3s;
}

.header__burger:before {
  top: 5px;
}

.header__burger:after {
  bottom: 5px;
}

.header__burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}

.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.menu__link.active {
  color: $accent;
  border-radius: 0px;
}

@media (max-width: 450px) {
  .menu {
    margin-top: 8px;
    margin-right: 10px;
  }
}
</style>
