<template>
  <div class="wrapper__popup" v-touch-swipe.mouse="swipeSlide">
    <q-btn class="float-right" icon="close" color="white" flat round dense v-close-popup />
    <q-img v-if="isImage(urls[selectedSlide])" :src="urls[selectedSlide]" :key="urls[selectedSlide]" fit="contain"
      class="image__modelling" style="max-height: 70vh" position="50 50">
    </q-img>

    <video class="q-pa-auto full-width" v-else :src="urls[selectedSlide]" controls style="max-height: 70vh;" />

    <div class="flex items-center justify-center q-mt-xl controls">
      <div class="bg-black previous flex items-center justify-center" @click="previousSlide()">
        <div class="left_arrow" />
      </div>
      <div class="bg-black counter flex items-center justify-center text-white text-subtitle1">
        <span class="current_number q-pr-xs">{{ selectedSlide + 1 }}</span> из
        {{ urls.length }}
      </div>
      <div class="bg-black next flex items-center justify-center" @click="nextSlide()">
        <div class="right_arrow" />
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, toRef } from "vue";

const props = defineProps({
  modelingArray: {
    file: {
      url: {
        type: String,
        require: true,
        default: new String(),
      },
      id: {
        type: Number,
        require: true,
        default: new Number(),
      },
      type: {
        type: String,
        require: true,
        default: new String(),
      },
      filename: {
        type: String,
        require: true,
        default: new String(),
      },
    },
    type: Array,
    require: true,
    default: new Array(),
  },
  currentSlide: {
    type: [String, Number],
    default: 0 || '0'
  }
});

const emits = defineEmits(['close-popup', 'swipe'])

const urls = props.modelingArray.map((file) => {
  return file;
});

const selectedSlide = ref(props.currentSlide);

const nextSlide = () => {
  if (selectedSlide.value + 1 >= urls.length) selectedSlide.value = 0;
  else selectedSlide.value++;
};
const previousSlide = () => {
  if (selectedSlide.value - 1 < 0) selectedSlide.value = urls.length;
  else selectedSlide.value--;
};
const isImage = (url) => {
  return /.png|.jpg|.jpeg/.test(url);
}
const closePopup = (event) => {
  emits("close-popup", event);
};
const swipeSlide = ({ evt, ...newInfo }) => {
  if (newInfo.direction === "left") {
    nextSlide();
  } else if (newInfo.direction === "right") {
    previousSlide();
  }
};
</script>

<style scoped lang="scss">
.wrapper__popup {
  margin: auto auto auto auto;

  background-color: rgba(0, 0, 0, 0.8);
}

.counter {
  width: 80px;
  height: 70px;
}

.controls {
  top: 0;
}

.next {
  width: 80px;
  height: 70px;
}

.current_number {
  color: #d3ac70;
}

.previous {
  width: 80px;
  height: 70px;
}

.left_arrow {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid white;
}

.right_arrow {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid white;
}

.close {
  right: 0;
}
</style>
