<template>
  <q-dialog :model-value="isOpen" @update:model-value="updateIsPopup">
    <q-card class="bg-black text-white popup q-pa-lg">
      <q-card-section class="row">
        <div class="col-xs-12 col-sm-5">
          <p>Ваше имя</p>
          <q-input
            class="pupup__input"
            color="accent"
            label-color="green"
            placeholder="Никита"
            dark
            v-model="name"
            maxlength="30"
            :rules="[
              (val) =>
                validateField(val, 'name') ||
                'Имя не должно содержать недопустимых символов',
            ]"
          />
        </div>
      </q-card-section>
      <q-card-section class="row flex justify-between">
        <div class="col-xs-12 col-sm-5">
          <p>Ваша электронная почта</p>
          <q-input
            type="email"
            class="pupup__input"
            color="accent"
            label-color="white"
            placeholder="your@email.com"
            dark
            v-model="mail"
            maxlength="30"
            :rules="[
              (val) => validateField(val, 'email') || 'Должно быть почтой',
            ]"
          />
        </div>
        <div class="col-xs-12 col-sm-5 q-xs-pt-lg">
          <p>Номер вашего телефона</p>
          <q-input
            class="pupup__input"
            type="tel"
            color="accent"
            label-color="white"
            mask="+#-###-###-##-##"
            placeholder="+8 - 999 - 999 - 99 - 99"
            dark
            v-model="phone"
          />
        </div>
      </q-card-section>
      <q-card-section class="row">
        <div class="col-12">
          <p>Хотите что-то добавить?</p>
          <q-input
            class="pupup__input"
            color="accent"
            type="text"
            label-color="white"
            placeholder="Может быть мы что-то забыли?"
            dark
            v-model="desc"
            maxlength="245"
            :rules="[
              (val) =>
                validateField(val, 'note') ||
                'Текст не может содержать запрещенные символы',
            ]"
          />
        </div>
      </q-card-section>
      <q-card-section class="row flex justify-between">
        <q-checkbox
          class="q-xs-pb-lg"
          v-model="checkbox"
          label="Даю согласие на обработку моих личных данных"
          dark
        />
        <q-btn
          :disable="isDisabled"
          label="Заказать проект"
          class="popup__btn border-no text-white no-shadow"
          no-caps
          padding="10px 20px"
          :outline="false"
          @click="sendData"
        />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { ref } from "vue";
import { useQuasar } from "quasar";
import { useStore } from "vuex";

const rules = {
  email: /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/,
  name: new RegExp("^[a-zA-ZА-Яа-я]{2,30}$"),
  note: new RegExp("\_|\/|'|\{|\}"),
};

export default {
  name: "OrderPopup",
  props: {
    isOpen: {
      type: Boolean,
      default: () => false,
    },
  },
  setup(props, { emit }) {
    const $q = useQuasar();
    const store = useStore();
    const popup = ref(props.isOpen);

    const isDisabled = ref(false);
    const name = ref("");
    const phone = ref("");
    const mail = ref("");
    const desc = ref("");
    const checkbox = ref(false);

    const updateIsPopup = () => {
      emit("updateIsPopup");
    };

    const validateField = (value, field) => {
      let isValid;
      switch (field) {
        case "name":
          isValid = rules.name.test(value);
          if (!isValid) {
            isDisabled.value = true;
          } else {
            isDisabled.value = false;
          }
          return isValid;
        case "email":
          isValid = rules.email.test(value);
          if (!isValid) {
            isDisabled.value = true;
          } else {
            isDisabled.value = false;
          }
          return isValid;
        case "note":
          isValid = !rules.note.test(value);
          if (!isValid) {
            isDisabled.value = true;
          } else {
            isDisabled.value = false;
          }
          return isValid;
      }
    };

    const sendData = () => {
      if (name.value && phone.value && mail.value && checkbox.value) {
        const data = {
          name: name.value,
          phone: phone.value,
          email: mail.value,
          note: desc.value,
        };
        store.dispatch("order/newOrder", data).then(updateIsPopup());
        $q.notify({
          message: "Заявка отправлена",
          textColor: "black",
          color: "white",
        });
      } else {
        $q.notify({
          message: "Заполните поля",
          color: "black",
        });
      }
    };

    return {
      validateField,
      isDisabled,
      name,
      phone,
      mail,
      desc,
      checkbox,
      popup,
      sendData,
      updateIsPopup,
    };
  },
};
</script>

<style scoped lang="scss">
p {
  margin: 0;
}
input {
  color: white;
}

.popup__btn {
  border: 1px solid white;
  font-size: 16px;
}
.q-checkbox {
  .q-focus-helper {
    visibility: hidden;
  }
}

.q-dialog__inner--minimized > div {
  max-width: 700px !important;
}
.popup {
  width: 100%;
}

@media (max-width: 660px) {
  .q-xs-pb-lg {
    padding-bottom: 32px;
  }
}

@media (max-width: 600px) {
  .q-xs-pt-lg {
    padding-top: 32px;
  }
}
</style>
