<template>
  <div class="q-pa-xs-none q-px-sm project__card q-py-sm cursor-pointer">
    <q-img :src="src" class="gradient project__card-img" ratio="1" />
    <p class="project__card-subtitle q-ma-none q-mt-sm">{{ subtitle }}</p>
    <p class="project__card-title">{{ title }}</p>
  </div>
</template>

<script>
export default {
  name: "ProjectCard",
  props: {
    src: {
      type: String,
    },
    title: {
      type: String,
    },
    subtitle: {
      type: String,
    },
  },
};
</script>

<style scoped lang="scss">
img {
  height: 600px;
  width: auto;
}
.project__card {
  &-subtitle {
    font-size: 12px;
  }
  &-title {
    font-size: 24px;
    font-weight: 600;
  }
}
.gradient {
  position: relative;
}
.gradient:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    #000000 100%
  );
}
</style>
