<template>
  <q-item
    style="border-radius: 15px;"
    clickable
    tag="a"
    exact
    exact-active-class="text-white bg-grey"
    :to="link"
  >
    <q-item-section
      v-if="icon"
      avatar
    >
      <q-icon :name="icon"/>
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label v-if="caption" caption> {{ caption }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
  export default {
    name: "SideBarItem",
    props: {
      title: {
        type: String,
        required: true
      },
      link: {
        type: String,
        default: '#'
      },
      icon: {
        type: String,
        default: ''
      },
      caption: {
        type: String,
        default: ''
      }
    }
  }
</script>

<style scoped>

</style>
