<template>
  <q-item>
    <q-item-section avatar>
      <q-avatar rounded>
        <q-img :src="avatar"/>
      </q-avatar>
    </q-item-section>
    <q-item-section>
      <q-item-label>{{title}}</q-item-label>
    </q-item-section>
    <q-item-section side>
      <div class="text-grey-8 q-gutter-xs">
        <slot name="actions" />
      </div>
    </q-item-section>
  </q-item>
  <q-separator/>
</template>

<script>
  export default {
    name: "SideBarHeader",
    props: {
      title: {
        type: String,
        default: ''
      },
      avatar: {
        type: String,
        default: 'https://cdn.quasar.dev/img/boy-avatar.png'
      }
    }
  }
</script>

<style scoped>

</style>
