<template>
  <div class="card">
    <div class="title_background text-center">
      {{ role }}
    </div>
    <div class="content q-pa-xl-xs">
      <div class="image-container">
        <q-img
          class="image-card"
          fit="cover"
          :key="img"
          :src="img"
          :ratio="1"
          :initial-ratio="1"
          height="100%"
        />
      </div>
      <div class="info">
        <div class="info__title row" v-html="name"></div>
        <div class="info__description row test" v-html="description"></div>
        <div class="info__links row">
          <q-btn icon="img:/telegram.svg" size="xs" :href="links.telegram" />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { defineComponent } from "vue";
defineComponent({
  name: "StaffCard",
});
defineProps({
  role: String,
  name: String,
  description: String,
  img: String,
  links: Array,
});
</script>

<style lang="scss" scoped>
.title_background {
  position: relative;
  margin-bottom: 55px;
  font-family: "Viaoda Libre", cursive;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.05);
  z-index: 1;
}

.content {
  top: -90px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.image-container {
  z-index: 3;
  box-sizing: content-box;
  display: flex;
  width: 100%;
  height: inherit;
}

.image-card:after {
  content: "";
  display: block;
  z-index: 11;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  background: transparent;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, #000000 100%);
}
.info {
  z-index: 4;
  display: flex;
  position: relative;
  flex-direction: column;
  top: -20px;
  margin: 0 20px 0 20px;
  &__title {
    margin-bottom: 15px;
    font-size: 24px;
    font-family: "Nunito", sans-serif;
  }
  &__description {
    margin-bottom: 15px;
    font-family: "Viaoda Libre", cursive;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
  }
}
@media (max-width: 768px) and (min-width: 429px) {
  .content {
    align-items: flex-end;
    top: -100px;
    flex-direction: row;
  }
  .title_background {
    font-size: 100px;
  }
  .image-container {
    max-width: 220px;
  }
  .info {
    top: 0;
    padding-left: 60px;
    margin: 0;
    &__title {
      font-size: 24px;
    }
    &__description {
      font-size: 16px;
    }
  }
}
@media (min-width: 1025px) {
  .content {
    align-items: flex-end;
    top: -120px;
    flex-direction: row;
  }
  .title_background {
    font-size: 200px;
  }
  .image-container {
    max-width: 350px;
  }
  .info {
    top: 0;
    padding-left: 80px;
    margin: 0;
    &__title {
      font-size: 36px;
    }
    &__description {
      font-size: 24px;
    }
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .content {
    align-items: flex-end;
    top: -120px;
    flex-direction: row;
  }
  .title_background {
    font-size: 160px;
  }
  .image-container {
    max-width: 270px;
  }
  .info {
    top: 0;
    padding-left: 95px;
    margin: 0;
    &__title {
      font-size: 36px;
    }
    &__description {
      font-size: 24px;
    }
  }
}
</style>
