@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&family=Viaoda+Libre&display=swap");

* {
  margin: 0;
  padding: 0;
}
.gold {
  color: #d3ac70;
}

.btn {
  border-radius: 0;
}

.text-gold {
  color: $gold;
}

.bg-gold {
  background-color: $gold;
}
