<template>
  <q-card>
    <q-card-section>
      <div class="col q-gutter-md">
        <q-input v-model="form.name" :model-value="form.name" required type="text" filled label="Имя услуги" clearable/>
        <q-input v-model="form.description" :model-value="form.description" required type="textarea" filled
                 label="Описание услуги" counter maxlength="500" clearable/>
        <q-input v-model.number="form.value" min="0" :model-value="form.value" required type="number" filled
                 label="Стоимость услуги" clearable>
          <template #append>
            ₽
          </template>
        </q-input>
      </div>
    </q-card-section>
    <q-card-actions>
      <q-btn label="Отмена" @click="reset" flat/>
      <q-btn label="Сохранить" @click="submit(form)"/>
    </q-card-actions>
  </q-card>
</template>

<script setup>
import {computed, onBeforeMount, ref} from "vue";
import {useRouter} from "vue-router";
import {useStore} from "vuex";
import {Notify} from "quasar";
import {getServiceById} from "boot/api/service";

const router = useRouter()
const { params } = router.currentRoute.value
const store = useStore();
const form = ref({
  name: '',
  description: '',
  value: 0
})
onBeforeMount(async () => {
  if (params.id) {
    form.value = await getServiceById(params.id)
  }
})

const submit = async (service) => {
  try {
    if (params.id) {
      await store.dispatch('services/editService', service)
      Notify.create({
        message: 'Услуга успешно обновлена',
        timeout: 1500,
        type: 'positive'
      })
      return await router.push({name: 'serviceList'})
    }
    await store.dispatch('services/addService', service)
    Notify.create({
      message: 'Услуга успешно добавлена',
      timeout: 1500,
      type: 'positive'
    })
    await router.push({name: 'serviceList'})
  } catch (e) {
    Notify.create({
      message: 'Ошибка при добавлении/изменении услуги',
      timeout: 1500,
      type: 'negative'
    })
  }
}
const reset = () => {
  form.value.name = ''
  form.value.description = ''
  form.value.value = 0
  router.back()
}
</script>

<style scoped>

</style>
