<template>
  <q-page>
    <div class="row">
      <div class="col">
        <q-table row-key="id" :rows="services" :columns="columns" :pagination="{ rowsPerPage: 50}">
          <template #top>
            <div class="row full-width items-end">
              <div class="col-2">
                <q-btn label="Добавить услугу" :to="{ name: 'addService' }" type="a"/>
              </div>
            </div>
          </template>
          <template #body="props">
            <q-tr :props="props">
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                <span v-if="col.name === 'controls'">
                  <q-btn icon="edit" rounded dense flat @click="$router.push({ name: 'editService', params: { id: props.row.id }})"/>
                  <q-btn icon="delete" rounded dense flat color="red" @click="$store.dispatch('services/delService', {id: props.row.id, index: props.rowIndex})" />
                </span>
                <span v-else>{{ col.value }}</span>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import {useStore} from 'vuex'
import {computed, onBeforeMount, ref} from "vue";

const store = useStore();
onBeforeMount(async () => {
  await store.dispatch('services/fetchServices');
})

const services = computed(() => store.getters["services/serviceList"])
const columns = ref([
  {
    name: 'id',
    label: 'ID',
    field: 'id',
    align: 'center'
  },
  {
    name: 'name',
    label: 'Название',
    field: 'name',
    align: 'center'
  },
  {
    name: 'description',
    label: 'Описание',
    field: 'description',
    // format: (val) => val.substr(25, val.length - 25),
    align: 'center'
  },
  {
    name: 'value',
    field: 'value',
    label: 'Стоимость',
    align: 'center',
    format: (val) => val ? `${val} ₽` : ''
  },
  {
    name: 'controls',
    label: 'Действия',
    align: 'center'
  }
])
</script>

<style scoped>

</style>
