<template>
  <div class="q-mb-xl">
    <div class="text-subtitle1">{{ label }}</div>
    <q-editor
      v-model="inputValue"
      @update:model-value="updateSingleAbout"
      class="q-pa-md"
      debounce="500"
    />
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  name: "AboutEditor",
  emits: ["updatedAbout"],
  props: {
    label: {
      type: String,
      require: true,
      default: "",
    },
    aboutKey: {
      type: String,
      require: true,
      default: "",
    },
    initValue: {
      type: String,
      require: true,
      default: "",
    },
  },
  setup(props, { emit }) {
    const inputValue = ref(props.initValue);

    const updateSingleAbout = () => {
      emit("updatedAbout", props.aboutKey, inputValue.value);
    };

    return { inputValue, updateSingleAbout };
  },
};
</script>
