<template>
  <div>
    <q-input
      class="q-pa-md"
      v-model="inputValue"
      :label="label"
      debounce="500"
      @update:model-value="updateSingleContact"
    />
  </div>
</template>

<script setup>
import { ref, defineComponent } from "vue";
defineComponent({
  name: "ContactInput",
});

const emit = defineEmits(["updatedContact"]);

const props = defineProps({
  label: {
    type: String,
    require: true,
    default: () => "",
  },
  initValue: {
    type: String,
    require: true,
    default: () => "",
  },
  contactKey: {
    type: String,
    require: true,
    default: () => "",
  },
});

const inputValue = ref(props.initValue);

const updateSingleContact = () => {
  emit("updatedContact", props.contactKey, inputValue.value);
};

defineExpose({ inputValue });
</script>
