<template>
  <q-page padding>
<!--    <div class="row q-mx-auto q-gutter-lg">-->
<!--      <div v-for="n in 24" :key="n" class="col-2">-->
<!--        <q-card>-->
<!--          <q-btn label="test"></q-btn>-->
<!--        </q-card>-->
<!--      </div>-->
<!--    </div>-->
  </q-page>
</template>

<script>
export default {
  name: 'ControlPanel',
}
</script>
