<template>
<!-- сделать возможность выгрузки видео на главной  -->
  <q-page padding>
    <h3 class="q-mb-md">Настройки</h3>
    <q-tabs class="full-width" v-model="currentTab">
      <q-tab class="full-width" name="contacts" label="Контакты"></q-tab>
      <q-tab class="full-width" name="about" label="О нас"></q-tab>
      <q-tab class="full-width" name="main" label="Главная"></q-tab>
    </q-tabs>
    <q-tab-panels v-model="currentTab">
      <q-tab-panel name="contacts">
        <ContactInput
          v-if="contacts.adress"
          :label="'Адрес'"
          :key="'adress'"
          :contactKey="'adress'"
          :initValue="contacts.adress"
          @updatedContact="updatedContacts"
        />

        <ContactInput
          v-if="contacts.mail"
          :label="'Почта'"
          :key="'mail'"
          :contactKey="'mail'"
          :initValue="contacts.mail"
          @updatedContact="updatedContacts"
        />
        <ContactInput
          v-if="contacts.phone1"
          :label="'Телефон №1'"
          :key="'phone1'"
          :contactKey="'phone1'"
          :initValue="contacts.phone1"
          @updatedContact="updatedContacts"
        />
        <ContactInput
          v-if="contacts.phone2"
          :label="'Телефон № 2'"
          :key="'phone2'"
          :contactKey="'phone2'"
          :initValue="contacts.phone2"
          @updatedContact="updatedContacts"
        />
        <q-btn
          label="Сохранить контакты"
          @click="saveContacts()"
        />
      </q-tab-panel>
      <q-tab-panel name="about">
        <AboutEditor
          v-if="about.aboutUs"
          :label="'Главное описание О НАС'"
          :key="'aboutUs'"
          :aboutKey="'aboutUs'"
          :initValue="about.aboutUs"
          @updatedAbout="updatedAbouts"
        />
        <AboutEditor
          v-if="about.kulevatskiy"
          :label="'Алексей Кулевацкий'"
          :key="'kulevatskiy'"
          :aboutKey="'kulevatskiy'"
          :initValue="about.kulevatskiy"
          @updatedAbout="updatedAbouts"
        />
        <AboutEditor
          v-if="about.lazareva"
          :label="'Полина Лазарева'"
          :key="'lazareva'"
          :aboutKey="'lazareva'"
          :initValue="about.lazareva"
          @updatedAbout="updatedAbouts"
        />
        <q-btn
          label="Сохранить описания"
          @click="saveAbout()"
        />
      </q-tab-panel>
      <q-tab-panel name="main">
        <q-file v-model="video"
                label="Выберите файл"
                counter
                use-chips
                max-total-size="104857600"
                accept=".mp4, video/*"
                @rejected="onRejected"
        >
          <template v-slot:hint>
            Масктмальный размер файла 100Мб
          </template>
        </q-file>
        <q-btn
          class="bg-green q-mt-md"
          label="Добавить видео"
          @click="sendVideo()"
          :disable="!video"
        />
        <q-list :key="videos.length" v-if="videos" class="q-mt-md">
          <h6>Список видео</h6>
          <q-item v-for="item in videos" :key="item.id" class="flex justify-between items-center">
            <a :href="item.url" target="_blank" class="flex column">
              <span>{{item.filename}}</span>
              <span>{{item.url}}</span>
            </a>
            <q-btn
              flat
              no-caps
              icon="delete"
              color="red"
              round
              @click="deleteVideo(item.id)"
            />
          </q-item>
        </q-list>
      </q-tab-panel>
    </q-tab-panels>
  </q-page>
</template>

<script>
import { ref, onBeforeMount, computed } from "vue";
import { useStore } from "vuex";
import AboutEditor from "src/components/AboutAndContacts/AboutEditor.vue";
import ContactInput from "src/components/AboutAndContacts/ContactInput.vue";
import {useQuasar} from "quasar";
export default {
  name: "Settings",
  components: { AboutEditor, ContactInput },
  setup() {
    const store = useStore();
    const $q = useQuasar()

    let currentTab = ref("contacts");
    const video = ref(null)

    const onRejected = () => {
        $q.notify({
          type: 'negative',
          message: `Файл не должен превышать 100Мб`
        })
      }


    onBeforeMount(() => {
      store.dispatch("texts/getAbout");
      store.dispatch("texts/getContacts");
      store.dispatch("mainVideos/getVideos")
    });

    let contacts = computed(() => store.getters["texts/getContacts"]);
    let about = computed(() => store.getters["texts/getAbout"]);
    let videos = computed(() => store.getters["mainVideos/getVideos"]);
    console.log(videos.value, 'settings')

    const updatedContacts = (contactKey, contactValue) => {
      contacts.value[contactKey] = contactValue;
    };
    const updatedAbouts = (aboutKey, aboutValue) => {
      about.value[aboutKey] = aboutValue;
    };
    const saveContacts = () => {
      store.dispatch("texts/updateContacts", contacts.value);
    };
    const saveAbout = () => {
      store.dispatch("texts/updateAbout", about.value);
    };
    const sendVideo = () => {
      store.dispatch('mainVideos/sendVideo', video.value)
      video.value = null
    }
    const deleteVideo = (videoId) => {
      store.dispatch("mainVideos/deleteVideo", videoId)
    }
    return {
      updatedContacts,
      saveContacts,
      saveAbout,
      updatedAbouts,
      sendVideo,
      currentTab,
      contacts,
      about,
      video,
      videos,
      deleteVideo,
      onRejected
    };
  },
};
</script>
<style scoped>
  a {
    text-decoration: none;
  }
</style>
