<template>
  <router-view/>
</template>
<script>
  import {defineComponent} from 'vue';

  export default defineComponent({
    name: 'App',

    setup() {
      // calling here; equivalent to when component is created
    }
  })
</script>
