<!DOCTYPE html>
<html>
    <title>{{title}}</title>
    <meta name="description" content='{{description}}'>
    <meta name="keywords" content="{{keywords}}">
    <meta charset="utf-8">

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="{{ogTitle}}">
    <meta property="og:type" content="{{ogType}}">
    <meta property="og:url" content="{{ogUrl}}">
    <meta property="og:description" content="{{ogDescription}}">
    <meta property="og:image" content="{{ogImage}}">
    

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" rel="stylesheet" />
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
