<template>
  <q-layout view="lHh lpR lFf">
    <!-- Be sure to play with the Layout demo on docs -->

    <!-- (Optional) The Header -->
    <!--    <q-header elevated>-->
    <!--      <q-toolbar>-->
    <!--        <q-btn flat round dense icon="menu" @click="toggleLeftDrawer">-->
    <!--          <q-tooltip> Скрыть меню </q-tooltip>-->
    <!--        </q-btn>-->

    <!--        <q-toolbar-title> Kasatka CMS </q-toolbar-title>-->

    <!--        <q-btn label="Сменить тему" @click="toggleTheme" flat />-->
    <!--      </q-toolbar>-->
    <!--    </q-header>-->

    <Header @toggleTheme="toggleTheme" @toggleLeftDrawer="toggleLeftDrawer" @logout="onLogout" />

    <!-- (Optional) A Drawer; you can add one more with side="right" or change this one's side -->
    <q-drawer v-model="leftDrawerOpen" :mini="isMini" side="left" bordered>
      <!-- QScrollArea is optional -->
      <q-scroll-area class="fit q-pa-sm">
        <SideBar>
          <template v-slot:header>
            <SideBarHeader title="Kasatka Admin">
              <template #actions>
                <q-btn icon="home" round flat dense @click="$router.push({ name: 'admin'})" />
                <q-btn icon="public" round flat dense to="/" tag="a" target="_blank">
                  <q-tooltip> Перейти на сайт </q-tooltip>
                </q-btn>
                <q-btn
                  class="gt-xs"
                  size="12px"
                  round
                  dense
                  flat
                  unelevated
                  color="primary"
                  icon="chevron_left"
                  @click="isMini = !isMini"
                >
                  <q-tooltip> Минимизировать </q-tooltip>
                </q-btn>
              </template>
            </SideBarHeader>
          </template>
          <SideBarItem
            v-for="(route, index) in routes"
            class="q-mt-sm"
            :key="index"
            :title="route.title"
            v-bind="route"
            @mouseenter="isMini = false"
            @mouseleave="isMini = false"
          />
        </SideBar>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view v-slot="{ Component }">
        <transition
          appear
          enter-active-class="animated slideInRight"
          leave-active-class="animated slideOutRight"
        >
          <component :is="Component" :key="$router.path" />
        </transition>
      </router-view>
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref, computed } from "vue";
import SideBar from "components/SideBar";
import SideBarItem from "components/SideBarItem";
import SideBarHeader from "components/SideBarHeader";
import Header from "components/Header";
import { useRouter } from "vue-router";
import {LocalStorage, useQuasar} from "quasar";
import { useStore } from "vuex";

export default {
  name: "AdminLayout",
  components: {
    SideBarHeader,
    SideBar,
    SideBarItem,
    Header,
  },

  setup(props, context) {
    const store = useStore();
    const $q = useQuasar();

    const leftDrawerOpen = ref(true);
    const isMini = ref(false);
    const router = useRouter();

    const isDark = ref(false);

    const getRoutesMeta = () => {
      const routes = router.getRoutes().map((el) => {
        if (
          el.path.includes("/admin") &&
          !el.path.includes(":") &&
          el.meta.title && el.meta.isShown
        ) {
          return {
            link: el.path,
            title: el.meta.title,
            icon: el.meta.icon,
          };
        }
      });
      return routes.filter(Boolean);
    };

    const toggleTheme = () => {
      isDark.value = !isDark.value;
      $q.dark.set(isDark.value);
      // $q.LocalStorage.set('isDark', isDark.value)
    };
    const onLogout = () => {
      LocalStorage.clear();
    }
    const getUserFullName = computed(() => {
      return store.getters['']
    })
    const routes = getRoutesMeta();

    return {
      onLogout,
      leftDrawerOpen,
      isMini,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
      routes,
      getRoutesMeta,
      toggleTheme,
    };
  },
};
</script>
