<template>
  <q-layout view="hHh Lpr fFf">

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import { ref } from 'vue'
import {useQuasar} from "quasar";

export default {
  name: 'AuthLayout',

  setup () {

    return {
    }
  }
}
</script>
