<template>
  <q-layout view="hHh lpR fFf" class="bg-black" @click="clickOutsideMenu">
    <q-resize-observer @resize="onResize" />
    <q-header v-if="!$route.meta.isBreadCrumbs">
      <q-space />
      <Menu :isOpen="menuIsOpen" @clickBurger="clickBurger" @clickBtn="clickBtn" :withLabel="true" />
    </q-header>
    <q-header v-else height-hint="76px" style="height: 76px" class="header flex justify-between bg-black text-white">
      <div class="self-end">
        <Breadcrumbs :crumbs="getCrumbs" :key="getCrumbs.length" @selected="selected" />
      </div>
      <Menu :isOpen="menuIsOpen" @clickBurger="clickBurger" @clickBtn="clickBtn" :withLabel="true" />
    </q-header>

    <q-footer class="bg-black footer absolute-bottom">
      <q-toolbar>
        <q-toolbar-title>
          <h5 class="footer__title">© KASATKA 2022 X CREATED BY 2MRW.TECH</h5>
        </q-toolbar-title>
        <div v-if="width > 768">
          <q-btn class="footer__link btn" flat href="https://www.pinterest.ru/wwwkasatkaru/" target="_blank" type="a">
            Pinterest</q-btn>
          <q-btn class="footer__link btn" flat href="https://t.me/kulevatskiy" target="_blank" type="a">Telegram</q-btn>
        </div>
        <div v-if="width <= 768 && width > 500" class="q-gutter-lg">
          <q-btn class="footer__link btn" flat icon="img:/pintrest.svg" round
            href="https://www.pinterest.ru/wwwkasatkaru/" target="_blank" type="a" size="13px"></q-btn>
          <q-btn class="footer__link btn" flat icon="img:/telegram.svg" round href="https://t.me/kulevatskiy"
            target="_blank" type="a" size="13px"></q-btn>
        </div>
        <div v-if="width < 500" class="q-gutter-xs">
          <q-btn class="footer__link btn" flat icon="img:/pintrest.svg" round
            href="https://www.pinterest.ru/wwwkasatkaru/" target="_blank" type="a" size="9px"></q-btn>
          <q-btn class="footer__link btn" flat icon="img:/telegram.svg" round href="https://t.me/kulevatskiy"
            target="_blank" type="a" size="9px"></q-btn>
        </div>
      </q-toolbar>
    </q-footer>
    <OrderPopup :isOpen="isPopup" @updateIsPopup="updateIsPopup" />
    <q-page-container>
      <router-view v-slot="{ Component }">
        <transition appear enter-active-class="animated slideInRight" leave-active-class="animated slideOutRight">
          <component :is="Component" :key="$router.path" @update-crumb="onUpdateCrumb"/>
        </transition>
      </router-view>
    </q-page-container>
  </q-layout>
</template>

<script setup>
import { ref, computed, onMounted } from "vue";
import Menu from "components/Menu";
import OrderPopup from "components/OrderPopup";
import Breadcrumbs from 'components/ui/Breadcrumbs';
import { useRouter } from 'vue-router';

const menuIsOpen = ref(false);
const width = ref(null);
const isPopup = ref(false);
const router = useRouter();
const crumbs = ref([]);
onMounted(() => crumbs.value = router.currentRoute.value.meta.crumbs);
const clickBtn = () => {
  isPopup.value = !isPopup.value;
};
const updateIsPopup = () => {
  isPopup.value = !isPopup.value;
};
const getCrumbs = computed(() => crumbs.value)

const onUpdateCrumb = list => {
  crumbs.value = list;
};
const onResize = (size) => {
  width.value = size.width;
};

const clickBurger = () => {
  menuIsOpen.value = !menuIsOpen.value;
};

const clickOutsideMenu = (event) => {
  if (!event.target.closest(".menu")) {
    menuIsOpen.value = false;
  }
};

const selected = selected => {

}
</script>

<style lang="scss">
body {
  font-family: "Nunito", sans-serif;
}

.header {
  padding: 0 60px;

  &__burger {
    transition: 0.3s;
  }
}

.footer {
  font-family: "Nunito", sans-serif;
  min-height: 76px;
  font-weight: 400;
  font-size: 12px;
  padding: 0 60px;

  & .q-toolbar {
    padding: 0;
  }

  &__title {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 0 20px;
  }

  .header {
    padding: 0 20px;
  }
}

@media (max-width: 388px) {
  .footer__title {
    font-size: 10px;
  }
}
</style>
