<template>
  <q-breadcrumbs class="text-white" active-color="gold" separator="→">
    <q-breadcrumbs-el v-for="(crumb, index) in crumbsList" :key="crumb.label" :class="isLast(index) ? 'gold' : 'text-white'" active-class="gold"
      exact-active-class="text-gold" exact :to="crumb.to" :label="crumb.label" :disable="isLast(index)" @click="selected(crumb)" />
  </q-breadcrumbs>
</template>

<script setup>
import { ref } from 'vue'; 
const props = defineProps({
  crumbs: { type: Array, required: true },
})
const emits = defineEmits(['selected'])
const crumbsList = ref(props.crumbs)
const isLast = (index) => {
  return index === props.crumbs.length - 1
}

const selected = (crumb) => {
  emits('selected', crumb)
}

</script>

<style>
</style>