<template>
   <div class="q-pa-md">
          <q-uploader :label="label" name="gallery" color="black" @failed="onFailed" @uploaded="onUploaded" @uploading="onUploading"
          field-name="file" class="full-width" accept="image/*, video/*" hide-upload-btn method="POST" auto-upload url="https://api.kasatka.ru/file/upload"
          :max-total-size="totalSize" max-files="25" />
        </div>
</template>

<script setup>

const _props = defineProps({
    label: String,
});
const emit = defineEmits(['uploaded', 'uploading', 'failed']);

const totalSize = 209715200;

const onFailed = (info) => emit('failed', info)
const onUploaded = (info) => emit('uploaded', info)
const onUploading = (info) => emit('uploading', info)

defineExpose({
    onFailed,
    onUploaded,
    onUploading,
    totalSize,
})
</script>