<template>
  <q-img :src="src">
    <div class="absolute-bottom-right cursor-pointer btn__fullscreen" @click="onFullscreen(src)">
      <q-icon name="fullscreen" size="sm" />
    </div>
  </q-img>
</template>

<script setup>
const props = defineProps({
  src: String
})

const emits = defineEmits(['selected'])
const onFullscreen = (event) => emits('selected', event)
</script>

<style>
.btn__fullscreen {
  z-index: 11;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
}
</style>