<template>
  <div>
    <component :is="component" :src="src" @selected="onSelected" v-touch-swipe.mouse="onSwipe" />
  </div>
</template>

<script setup>
import Video from './Video'
import Image from './Image'
import { computed } from 'vue'

const props = defineProps({
  src: String
})
const emits = defineEmits(['selected', 'swiped'])

const component = computed(() => props.src.includes('jpg') || props.src.includes('png') ? Image : Video)

const onSelected = (event) => emits('selected', event)
const onSwipe = (event) => emits('swiped', event)
</script>

<style>
</style>
