<template>
  <video ref="video" :key="src" class="video" preload="auto" autoplay :muted="!isFullscreen" playsinline loop controls>
    <source :src="src" />
  </video>
</template>

<script setup>
import { ref, computed } from 'vue';
import { AppFullscreen } from 'quasar'

const props = defineProps({
  src: String
})
const video = ref(null);

const isFullscreen = computed(() => {
  return AppFullscreen.isActive;
})
</script>

<style>
video {
  object-fit: contain;
  width: 100%;
}
</style>